<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIGHT ONE Archive</title>
    <style>
    @font-face {
        font-family: 'RIDIBatang';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    .banner-container {
        width: 100%;
        display: flex;
        justify-content: center; /* 가로 중앙 정렬 */
        align-items: center; /* 수직 중앙 정렬 */
        height: 50vh; /* 화면 전체 높이 */
    }

    .grid-container {
        /* width: 80%; */
        display: flex;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        justify-content: center;
    }



    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #000;
        color: #fff;
        font-family: 'RIDIBatang', sans-serif; /* 나눔고딕 폰트를 기본 폰트로 설정 */
    }

    .album-section {
        display: flex;
        align-items: center;
        margin-top: 50px; /* 앨범 섹션과 이전 요소 사이 간격 조절 */
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }

    .album-image {
        /* margin-left: 80px; */
        flex: 0 0 30%; /* 앨범 이미지 영역이 전체의 50%를 차지하도록 설정 */
    }

    .album-image img {
        width: 100%; /* 이미지가 부모 요소에 꽉 차도록 설정 */
    }

    .album-description {
        flex: 0 0 50%; /* 앨범 소개글 영역이 전체의 50%를 차지하도록 설정 */
        padding: 0 20px; /* 좌우 여백 추가 */
    }

    .album-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
    }

    .album-description p {
    font-size: 16px;
    line-height: 1.5;
    }


    .carousel-container {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2%;
        overflow: hidden;
        position: relative;
    }

    .carousel {
        display: flex;
        transition: transform 0.3s ease;
    }

    .movie-card {
        position: relative;
        flex: 0 0 300px;
        margin-right: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #333;
        text-align: center;
        border-radius: 5px;
        overflow: hidden;
    }

    .movie-card img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .movie-card h2 {
        /* padding: 10px;
        text-align: center;
        margin: 0;
        background-color: #222;
        color: #fff;
        font-size: 16px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; */
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 10px;
        font-size: 16px;
        margin: 0;
        display: none;
        z-index: 1; /* 썸네일 위에 표시하기 위한 z-index 설정 */
    }

    .movie-card h2 {
        display: none; /* 비디오 제목 숨기기 */
    }

    /* 마우스 호버 시 비디오 제목 표시 */
    .movie-card:hover h2 {
        display: block;
    }

    .prev-button,
    .next-button {
        position: absolute;
        /* top: 50%; */
        bottom: 0px;
        /* transform: translateY(-50%); */
        background-color: transparent;
        color: #fff;
        padding: 10px 15px;
        border: 2px solid #ffffff00;
        cursor: pointer;
        border-radius: 55px;
        transition: background-color 0.3s, color 0.3s;
        height: 80%;
        width: 10px
    }

    .prev-button:hover,
    .next-button:hover {
        background-color: #ffffff6c;
        color: #000;
    }


    .prev-button {
        left: 0;
    }

    .next-button {
        right: 0;
    }

    </style>    

</head>
<body>
    <div class="banner-container">
        <h1>LIGHT ONE</h1>
    </div>

    <div class="album-section">
        <h1>라이트원 _ 자작곡 & 커버</h1>
    </div>
    
    
    <div class="album-section">
        <div class="movie-card">
            <a href="https://www.youtube.com/watch?v=SvjjI1GyztE" target="_blank">
                <img src="https://i.ytimg.com/vi/SvjjI1GyztE/hqdefault.jpg" alt="충분히 - 슈퍼밴드 오디션 영상(비하인드)">
            </a>
            <h2>충분히 - 슈퍼밴드 오디션 영상(비하인드)</h2>
        </div>
        <div class="album-description">
            <h2>충분히 - 슈퍼밴드 오디션 버젼</h2>
            <p>"무패의 시작점" - ‘신’광일</p>
            <p>"광이리 38kg시절 ..... 음색은 여전하네 넘 쭈아 ...♡" - 댓글 by @lloveubad</p>
        </div>
    </div> 
    <div class="album-section">
        <div class="movie-card">
            <a href="https://www.youtube.com/watch?v=F0droE16HhA" target="_blank">
                <img src="https://i.ytimg.com/vi/F0droE16HhA/hqdefault.jpg" alt="Solo Christmas ">
            </a>   
            <h2>Who am I - Solo Christmas
            </h2>  
        </div>
        <div class="album-description">
            <h2>Solo Christmas (자작곡)</h2>
            <p>
                "슈퍼밴드에서 성공하고 루시멤버가 되고 그렇게 큰 무대에서 사랑해주는 팬들과 이 노래를 부를지 누가알았겠어..😊"
            </p>
            <h4> - 댓글 by @user-il1fd3bm1m
            </h4>
        </div>
    </div>
    <div class="album-section">
        <div class="movie-card">
            <a href="https://www.youtube.com/watch?v=wajjQPv6jzI" target="_blank">
                <img src="https://i.ytimg.com/vi/wajjQPv6jzI/hqdefault.jpg" alt="46 ">
            </a>   
            <h2>46-Who am I  </h2>  
        </div>
        <div class="album-description">
            <h2>46 - Who Am I</h2>
            <p>
                "바쁜 일상생활 짧은 영상으로 위로가 되어주고 싶어요"
            </p>
            <h4>- Who Am I
            </h4>
        </div>
    </div>
    <div class="album-section">
        <div class="movie-card">
            <a href="https://www.youtube.com/watch?v=rsHw9QZDExc" target="_blank">
                <img src="https://i.ytimg.com/vi/XZq109Ncuss/hqdefault.jpg" alt="if this is the end">
            </a>   
            <h2>if this is the end</h2>  
        </div>
        <div class="album-description">
            <h2>If This Is The End </h2>
            <!-- <p>"자주볼수없는 보고싶은 부모님을 위해 
                다들 한번 부모님생각하면서 들어도 좋을것같아요"</p> -->
            <p>
                I don't wanna cry, I'm bad at goodbye
            </p>
            <p>
                울고싶지는 않아요, 작별인사는 잘 못하니까
            
            </p>
            <h4>- Who Am I
            </h4>
        </div>
    </div>
    <div class="album-section">
        <div class="movie-card">
            <a href="https://www.youtube.com/watch?v=YfIR_xM149o" target="_blank">
                <img src="https://i.ytimg.com/vi/YfIR_xM149o/hqdefault.jpg" alt="i wish you love cover ">
            </a>   
            <h2>i wish you love cover </h2>  
        </div>
        <div class="album-description">
            <h2>I Wish You Love   (Cover)</h2>
            <p>
                "저는 언제쯤이면 1일 3광일아위슐럽을 끝낼 수 있을까요..""
            </p>
            <h4>
                - 댓글 by @user-ws3po7zc7w
            </h4>
        </div>
    </div>
    <div class="album-section">
        <div class="movie-card">
            <a href="https://www.youtube.com/watch?v=V4QgKEif9kE" target="_blank">
                <img src="https://i.ytimg.com/vi/V4QgKEif9kE/hqdefault.jpg" alt="비워 ">
            </a>   
            <h2>비워  </h2>  
        </div>
        <div class="album-description">
            <h2>비워 (부제 - rain war)</h2>
            <p>
                너를 기억해도 너를 미워하고
            </p>
            <p>
                이제 우릴 비워야할 때가 온거야
            </p>
            <h4>- Who Am I
            </h4>
        </div>
    </div>
    <div class="album-section">
        <div class="movie-card">
            <a href="https://www.youtube.com/watch?v=KhyBADCt2X8" target="_blank">
                <img src="https://i.ytimg.com/vi/KhyBADCt2X8/hqdefault.jpg" alt="More than yesterday ">
            </a>   
            <h2>Who am I - 어제보다 더(More than yesterday) </h2>  
        </div>
        <div class="album-description">
            <h2>More than yesterday (자작곡)</h2>
            <p>
                어제보다 더 나은 사람이 되고 싶었던 거였어
            </p>
            <p>
                그때보다 더 아낌없이 주는 내가 되고 싶어서
            </p>
            <h4>- Who Am I
            </h4>
        </div>
    </div>
    <div class="album-section">
        <div class="movie-card">
            <a href="https://www.youtube.com/watch?v=ubiEGwDjOhk" target="_blank">
                <img src="https://i.ytimg.com/vi/ubiEGwDjOhk/hqdefault.jpg" alt="왕따-데모">
            </a>
            <h2>왕따-데모</h2>
        </div>
        <div class="album-description">
            <h2>왕따 (자작곡)</h2>
            <p>"왕따라는 주제로 노래를 만들었습니다. 
                사실 외국에서 당한 인종차별에 대해 쓰고싶었지만 이러한 왕따에 대한 문제도 심각하다고 생각이되어 제가 외국에서 겪은 감정도 이와 비슷할거 같다는 생각에 만들어보았습니다."</p>
            <h4>- Who Am I
            </h4>    
        </div>
    </div>
    
    <div class="carousel-container" id="carousel_00">
        <h3 class="carousel-title">충분히</h3>
        <div class="carousel" >
            <!-- 동적으로 생성될 캐러셀 카드가 여기에 추가됩니다 -->
        </div>
        <button class="prev-button"> &#9664;</button>
        <button class="next-button">&#9654;</button>
    </div>
    <div class="carousel-container" id="carousel_01">
        <h3 class="carousel-title">Would U Dance With Me</h3>
        <div class="carousel">
            <!-- 동적으로 생성될 캐러셀 카드가 여기에 추가됩니다 -->
        </div>
        <button class="prev-button"> &#9664;</button>
        <button class="next-button">&#9654;</button>
    </div>
    <div class="carousel-container" id="carousel_02">
        <h3 class="carousel-title">커버 _ 난춘 (원곡 : 새소년)</h3>
        <div class="carousel" >
            <!-- 동적으로 생성될 캐러셀 카드가 여기에 추가됩니다 -->
        </div>
        <button class="prev-button"> &#9664;</button>
        <button class="next-button">&#9654;</button>
    </div>
    <div class="carousel-container" id="carousel_03">
        <h3 class="carousel-title">놓지 않을게</h3>
        <div class="carousel" >
            <!-- 동적으로 생성될 캐러셀 카드가 여기에 추가됩니다 -->
        </div>
        <button class="prev-button"> &#9664;</button>
        <button class="next-button">&#9654;</button>
    </div>
    <div class="carousel-container" id="carousel_04">
        <h3 class="carousel-title">커버 모음</h3>
        <div class="carousel" >
            <!-- 동적으로 생성될 캐러셀 카드가 여기에 추가됩니다 -->
        </div>
        <button class="prev-button"> &#9664;</button>
        <button class="next-button">&#9654;</button>
    </div>
    <div class="carousel-container" id="carousel_05">
        <h2 class="carousel-title"></h2>
        <div class="carousel" >
            <!-- 동적으로 생성될 캐러셀 카드가 여기에 추가됩니다 -->
        </div>
        <button class="prev-button"> &#9664;</button>
        <button class="next-button">&#9654;</button>
    </div>
    <div class="carousel-container" id="carousel_06">
        <h2 class="carousel-title"></h2>
        <div class="carousel" >
            <!-- 동적으로 생성될 캐러셀 카드가 여기에 추가됩니다 -->
        </div>
        <button class="prev-button"> &#9664;</button>
        <button class="next-button">&#9654;</button>
    </div>
    <div class="carousel-container" id="carousel_07">
        <h2 class="carousel-title"></h2>
        <div class="carousel" >
            <!-- 동적으로 생성될 캐러셀 카드가 여기에 추가됩니다 -->
        </div>
        <button class="prev-button"> &#9664;</button>
        <button class="next-button">&#9654;</button>
    </div>
    <div class="carousel-container" id="carousel_08">
        <h2 class="carousel-title"></h2>
        <div class="carousel" >
            <!-- 동적으로 생성될 캐러셀 카드가 여기에 추가됩니다 -->
        </div>
        <button class="prev-button"> &#9664;</button>
        <button class="next-button">&#9654;</button>
    </div>
    <div class="album-section">
        <h1>라이트원 _ 보컬 몰아듣기</h1>
    </div>
    <div class="album-section">
        <div class="movie-card">
            <a href="https://www.youtube.com/watch?v=Z_JcSvphXN8" target="_blank">
                <img src="https://i.ytimg.com/vi/Z_JcSvphXN8/hqdefault.jpg" >
            </a>
            <h2>[Playlist] LUCY 리드보컬 신광일🐻💙</h2>
        </div>
        <div class="movie-card">
            <a href="https://www.youtube.com/watch?v=ZvEKQxm_Pos" target="_blank">
                <img src="https://i.ytimg.com/vi/ZvEKQxm_Pos/hqdefault.jpg" >
            </a>
            <h2>lucy shin gwangil live playlist / 루시 신광일 라방 노래 모음</h2>
        </div>
        <div class="movie-card">
            <a href="https://www.youtube.com/watch?v=7mtqOhy5aCU" target="_blank">
                <img src="https://i.ytimg.com/vi/7mtqOhy5aCU/hqdefault.jpg" >
            </a>
            <h2>신광일의 킬링보이스를 라이브로!</h2>
        </div>
    </div>
    <div class="album-section">
        <h1> 무대 직캠</h1>
    </div> 
    <div class = "grid-container" id = "grid_00">
        
    </div>

    <script >

        // CSV 파일 URL
        const csvFileURL_00 = 'https://raw.githubusercontent.com/Gbintree/DevForDuck-LUCY/main/Resources/Light1/Song_Enough/videos.csv';
        const csvFileURL_01 = 'https://raw.githubusercontent.com/Gbintree/DevForDuck-LUCY/main/Resources/Light1/Song_DanceWithMe/videos.csv';
        const csvFileURL_02 = 'https://raw.githubusercontent.com/Gbintree/DevForDuck-LUCY/main/Resources/Light1/Cover_ChaoticSpring/videos.csv';
        const csvFileURL_03 = 'https://raw.githubusercontent.com/Gbintree/DevForDuck-LUCY/main/Resources/Light1/Song_Hug/videos.csv';
        const csvFileURL_04 = 'https://raw.githubusercontent.com/Gbintree/DevForDuck-LUCY/main/Resources/Light1/Cover/videos.csv';
        // const csvFileURL_05 = 'https://raw.githubusercontent.com/Gbintree/DevForDuck-LUCY/main/Resources/INSERT-COIN-PARADE_230423/videos.csv';
        // const csvFileURL_06 = 'https://raw.githubusercontent.com/Gbintree/DevForDuck-LUCY/main/Resources/INSERT-COIN-PARADE_230422/videos.csv';
        // const csvFileURL_07 = 'https://raw.githubusercontent.com/Gbintree/DevForDuck-LUCY/main/Resources/FIRST-LANDING_210619/videos.csv';
        // const csvFileURL_08 = 'https://raw.githubusercontent.com/Gbintree/DevForDuck-LUCY/main/Resources/FIRST-LANDING_210618/videos.csv';
        const csvFileURL_09 = 'https://raw.githubusercontent.com/Gbintree/DevForDuck-LUCY/main/Resources/Light1/Focus/videos.csv';

        let movieCards_00 = [];
        let movieCards_01 = [];
        let movieCards_02 = [];
        let movieCards_03 = [];
        let movieCards_04 = [];
        let movieCards_05 = [];
        let movieCards_06 = [];
        let movieCards_07 = [];
        let movieCards_08 = [];
        let movieCards_09 = [];

        


        // CSV 데이터를 가져오고 파싱하여 테이블에 추가
        updateCarousel(csvFileURL_00,'carousel_00', '00')
        updateCarousel(csvFileURL_01,'carousel_01', '01')
        updateCarousel(csvFileURL_02,'carousel_02', '02')
        updateCarousel(csvFileURL_03,'carousel_03', '03')
        updateCarousel(csvFileURL_04,'carousel_04', '04')
        // updateCarousel(csvFileURL_05,'carousel_05', '05')
        // updateCarousel(csvFileURL_06,'carousel_06', '06')
        // updateCarousel(csvFileURL_07,'carousel_07', '07')
        // updateCarousel(csvFileURL_08,'carousel_08', '08')
        // updateCarousel(csvFileURL_09,'carousel_09', '09')

        updateGrid(csvFileURL_09,'grid_00')
        // let currentIndex = 0;
        const currentIndex = {
            carousel_00: 0,
            carousel_01: 0,
            carousel_02: 0,
            carousel_03: 0,
            carousel_04: 0,
            carousel_05: 0,
            carousel_06: 0,
            carousel_07: 0,
            carousel_08: 0,
            carousel_09: 0
        };

        const movieCardsLength = {
            carousel_00: 0,
            carousel_01: 0,
            carousel_02: 0,
            carousel_03: 0,
            carousel_04: 0,
            carousel_05: 0,
            carousel_06: 0,
            carousel_07: 0,
            carousel_08: 0,
            carousel_09: 0
        };

        const cardWidth = 320; // Adjust to match card width

        // function updateGrid(csv_path, containerID, movieCardSetID ){
        //     fetch(csv_path)
        //     .then(response => response.text())
        //     .then(data => {
        //         const lines = data.split('\n');
        //         for (let i = 1; i < lines.length; i++) {
        //             const cells = lines[i].split(/,(?=(?:(?:[^"]*"){2})*[^"]*$)/); // 쉼표 안의 쌍따옴표는 무시 //split(',');
        //             if (cells.length === 4) {
        //                 const [video_id,title, url, thumbnail] = cells;
        //                 const movieCard = document.createElement('div');

        //                 movieCard.classList.add('movie-card');

        //                 const link = document.createElement('a');
        //                 link.href = url;
        //                 link.target = '_blank';

        //                 const img = document.createElement('img');
        //                 img.src = thumbnail;
        //                 img.alt = title;

        //                 const h2 = document.createElement('h2');
        //                 h2.textContent = title;

        //                 link.appendChild(img);
        //                 movieCard.appendChild(link);
        //                 movieCard.appendChild(h2);

        //                 grid-container.appendChild(movieCard)
        //             }
        //         }
        //     }
        //     )
        // }
        function updateGrid(csv_path, gridContainerID) {
            fetch(csv_path)
            .then(response => response.text())
            .then(data => {
                const gridContainer = document.getElementById(gridContainerID);
                const lines = data.split('\n');
                
                for (let i = 1; i < lines.length; i++) {
                    const cells = lines[i].split(/,(?=(?:(?:[^"]*"){2})*[^"]*$)/); // 쉼표 안의 쌍따옴표는 무시 //split(',');
                    if (cells.length === 4) {
                        const [video_id, title, url, thumbnail] = cells;
                    
                        // 동적으로 그리드 카드 생성
                        const movieCard = document.createElement('div');
                        movieCard.classList.add('movie-card');

                        const link = document.createElement('a');
                        link.href = url;
                        link.target = '_blank';

                        const img = document.createElement('img');
                        img.src = thumbnail;
                        img.alt = title;

                        const h2 = document.createElement('h2');
                        h2.textContent = title;

                        link.appendChild(img);
                        movieCard.appendChild(link);
                        movieCard.appendChild(h2);
                        
                        gridContainer.appendChild(movieCard);
                    }
                }
        });
}

        function updateCarousel(csv_path, carouselID, movieCardSetID){
            fetch(csv_path)
            .then(response => response.text())
            .then(data => {
                const carousel = document.querySelector(`#${carouselID} .carousel`);//document.getElementById(carouselID);
                const lines = data.split('\n');
                
                for (let i = 1; i < lines.length; i++) {
                    const cells = lines[i].split(/,(?=(?:(?:[^"]*"){2})*[^"]*$)/); // 쉼표 안의 쌍따옴표는 무시 //split(',');
                    if (cells.length === 4) {
                        const [video_id,title, url, thumbnail] = cells;
                    
                        // 동적으로 캐러셀 카드 생성
                        const movieCard = document.createElement('div');
                        movieCard.classList.add('movie-card');

                        const link = document.createElement('a');
                        link.href = url;
                        link.target = '_blank';

                        const img = document.createElement('img');
                        img.src = thumbnail;
                        img.alt = title;

                        const h2 = document.createElement('h2');
                        h2.textContent = title;

                        link.appendChild(img);
                        movieCard.appendChild(link);
                        movieCard.appendChild(h2);
                        
                        carousel.appendChild(movieCard);
                    }
                }

                if(movieCardSetID=='00'){
                    movieCards_00 = document.querySelectorAll(`#${carouselID} .movie-card`); 
                    movieCardsLength[carouselID] = movieCards_00.length;
                }else if(movieCardSetID=='01'){
                    movieCards_01 = document.querySelectorAll(`#${carouselID} .movie-card`); 
                    movieCardsLength[carouselID] = movieCards_01.length;
                }else if(movieCardSetID=='02'){
                    movieCards_02 = document.querySelectorAll(`#${carouselID} .movie-card`);
                    movieCardsLength[carouselID] = movieCards_02.length;
                }
                else if(movieCardSetID=='03'){
                    movieCards_03 = document.querySelectorAll(`#${carouselID} .movie-card`);
                    movieCardsLength[carouselID] = movieCards_03.length;
                }else if(movieCardSetID=='04'){
                    movieCards_04 = document.querySelectorAll(`#${carouselID} .movie-card`);
                    movieCardsLength[carouselID] = movieCards_04.length;
                }else if(movieCardSetID=='05'){
                    movieCards_05 = document.querySelectorAll(`#${carouselID} .movie-card`);
                    movieCardsLength[carouselID] = movieCards_05.length;
                }else if(movieCardSetID=='06'){
                    movieCards_06 = document.querySelectorAll(`#${carouselID} .movie-card`);
                    movieCardsLength[carouselID] = movieCards_06.length;
                }else if(movieCardSetID=='07'){
                    movieCards_07 = document.querySelectorAll(`#${carouselID} .movie-card`);
                    movieCardsLength[carouselID] = movieCards_07.length;
                }else if(movieCardSetID=='08'){
                    movieCards_08 = document.querySelectorAll(`#${carouselID} .movie-card`);
                    movieCardsLength[carouselID] = movieCards_08.length;
                }else if(movieCardSetID=='09'){
                    movieCards_09 = document.querySelectorAll(`#${carouselID} .movie-card`);
                    movieCardsLength[carouselID] = movieCards_09.length;
                }


            
                function showMovie(index) {
                    const offset = -index * cardWidth;
                    carousel.style.transform = `translateX(${offset}px)`;
                }
 
                function nextMovie() {
                    currentIndex[carouselID] = (currentIndex[carouselID] + 1) % movieCardsLength[carouselID];
                    showMovie(currentIndex[carouselID]);
                    console.log(currentIndex[carouselID]);
                }

                function prevMovie() {
                    currentIndex[carouselID] = (currentIndex[carouselID] - 1 + movieCardsLength[carouselID]) % movieCardsLength[carouselID];
                    showMovie(currentIndex[carouselID]);
                    console.log(currentIndex[carouselID]);
                }

                // Add event listeners for next and previous buttons specific to this carousel
                const prevButton = document.querySelector(`#${carouselID} .prev-button`);
                const nextButton = document.querySelector(`#${carouselID} .next-button`);
                nextButton.addEventListener('click', nextMovie);
                prevButton.addEventListener('click', prevMovie);

                showMovie(currentIndex[carouselID]);
                
            })
            .catch(error => console.error('Error fetching CSV:', error));

            
        }

        // function showMovie(index) {
        //     const offset = -index * cardWidth;
        //     carouselStyle.style.transform = `translateX(${offset}px)`;
        // }



        // function nextMovie() {
        //     currentIndex = (currentIndex + 1) % movieCards_00.length;
        //     showMovie(currentIndex);
        //     console.log(currentIndex);
        //     // window.alert(this.innerHTML); // click 이벤트 발생하는지 디버그하기 위함
        // }

        // function prevMovie() {
        //     currentIndex = (currentIndex - 1 + movieCards_00.length) % movieCards_00.length;
        //     showMovie(currentIndex);
        //     console.log(currentIndex);
        // }

        // Add event listeners for next and previous buttons
        // nextButton.addEventListener('click', nextMovie);
        // prevButton.addEventListener('click', prevMovie);

        // Show the initial movie
        // showMovie(currentIndex);


        

    </script>
</body>
</html>